version: '3.1'
services:
  mwi_mysql:
    build: ./docker/mysql
    restart: always
    ports:
      - '3308:3308'
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: ${DB_PW}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PW}
      MYSQL_DATABASE: camunda_db
    volumes:
      - ${VOLUME_DB}:/var/lib/mysql
    networks:
      - mwi-network-new

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    links:
      - mwi_mysql
    environment:
      PMA_HOST: mwi_mysql
      PMA_PORT: 3306
      PMA_ABSOLUTE_URI: '${SERVER_URL}/phpmyadmin/'
    ports:
      - '8087:80'
    networks:
      - mwi-network-new
    depends_on:
      - mwi_mysql

  mwi:
    image: mwi/app
    restart: always
    ports:
      - '8088:8080'
    environment:
      DB_DRIVER: com.mysql.jdbc.Driver
      DB_USERNAME: ${DB_USER}
      DB_PASSWORD: ${DB_PW}
      WAIT_FOR: mwi_mysql:3306
      DB_URL: jdbc:mysql://mwi_mysql:3306/camunda_db?autoReconnect=true
      MWI_URL: ${SERVER_URL}
      MWI_DB_URL: 'jdbc:mysql://mwi_mysql:3306/mwi?autoReconnect=true&user=${DB_USER}&password=${DB_PW}&serverTimezone=UTC'
    depends_on: [mwi_mysql]
    volumes:
      - ${VOLUME_UPLOAD}:/camunda/upload
    networks:
      - mwi-network-new

  web:
    build: ./docker/web
    restart: always
    ports:
      - '80:80'
    networks:
      - mwi-network-new
    volumes:
      - ${VOLUME_UPLOAD}:/etc/nginx/html/files
    depends_on:
      - mwi_mysql
      - mwi
      - phpmyadmin

networks:
  mwi-network-new:
