.help-block {
	margin-top: -5px;
	font-size: 12px;
	margin-left: 16.66666667%;
	padding-left: 22px;
	padding-top: 5px;
	clear: left;
	margin-bottom: 0;
}

.dropzone {
	margin-bottom: 20px;
}

h1,h2 {
	color: black; 
	text-align: center;
}

p {
	font-size: 20px;
}

.warning {
	background-color: #FF0000;
}

.line {
/* 	border-bottom: 1px solid #aaa; */
}

table td {
	vertical-align: top;
}

.input-group td .form-control {
	margin-bottom: 10px;
}

.container {
	border-style: solid;
	border-radius: 10px;
	border-color: #F0F0F0;
	margin-top: 50px;
	margin-bottom: 30px;
/* 	background-color: #F0F0F0; */
	background-color: white;
	margin-left: -15px;
}

#boxx {
	border-radius: 5px;
}
/* #checkbox1 { */
/* 	overflow: auto; */
/* } */

.checkbox input#gdprCompliance {
	min-height: 40px;
	margin-left: -158px;
	margin-bottom: 0;
	font-weight: 700;
	cursor: pointer;
	font-size: 17px;
}
