.help-block {
  margin-top: -5px;
  font-size: 12px;
  margin-left: 16.66666667%;
  padding-left: 22px;
  padding-top: 5px;
  clear: left;
  margin-bottom: 0;
}

.dropzone {
  margin-bottom: 20px;
}

h1 {
  color: black;
  text-align: center;
}

#newBewProzess {
  width: 50%;
  margin-left: 100%;
}

table.table.table-bordered.table-hover {
  width: 150%;
}

button.swal2-cancel.swal2-styled {
  font-size: 1.2rem;
  align-items: center;
}

p {
  font-size: medium;
  text-align: center;
}

.warning {
  background-color: #ff0000;
}

table td {
  vertical-align: top;
}

.input-group td .form-control {
  margin-bottom: 10px;
}

.col-sm-2 {
  max-width: 100%;
}

#gdprCompliance {
  margin-left: 50%;
}

#saveData {
  float: right;
  margin-right: -40%;
}
#saveChanges {
  float: right;
}
label {
  padding-left: 1.2%;
  font-size: medium;
  width: 100%;
}
#downloadAnmeldeformular {
  font-size: 100%;
}

/*DropDowns formatieren*/
div#motivationsSchreiben,
div#abiturZeugnis,
div#dualisAuszug,
div#zustimmungsFormular {
  width: 60%;
  margin-left: 20%;
}

.container {
  border-style: solid;
  border-radius: 10px;
  border-color: #f0f0f0;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: white;
  margin-left: -15px;
}

#boxx {
  border-radius: 5px;
}

.invalid-feedback {
  padding-left: 2.1%;
}
.checkbox {
  font-size: medium;
}

/*Zentrieren des Formulars*/
label.col-sm-2.control-label,
span#untName-error,
span#bewVorname-error,
span#bewNachname-error,
span#bewTelefon-error,
span#bewStrasse-error,
span#bewPLZ-error,
span#bewOrt-error,
span#bewLand-error,
span#bewEmail-error,
span#untStrasse-error,
span#untPLZ-error,
span#untOrt-error,
span#untAnsprechpartner-error,
span#untEMail-error {
  padding-left: 21.5%;
}

input#bewVorname,
input#bewNachname,
input#bewTelefon,
input#bewStrasse,
input#bewPLZ,
select#bewLand,
input#bewOrt,
select#aktuelleUni,
input#matrikelnummer,
select#bewStudiengang,
input#bewEmail,
input#muttersprache,
select#muttersprache,
select#uni1,
select#uni2,
select#uni3,
select#spanischNote,
select#englischNote {
  margin-left: 25%;
}

input#untAnsprechpartner,
select#untLand,
input#untOrt,
input#untPLZ,
input#untStrasse,
input#untName,
input#untEMail,
select#zeitraum,
input#bewGeburtsdatum,
select#bewSemester,
select#bewErasmus,
select#bewLA,
select#bewSGL {
  margin-left: 25%;
}

/*#stepProgressBar {
  display: flex;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.step {
  text-align: center;
}

.step-text {
  margin-bottom: 10px;
  color: red;
}

.bullet {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid red;
  color: red;
  display: inline-block;
  position: relative;
  transition: backround-color 500ms;
  line-height: 50px;
}

.bullet.completed {
  color: white;
  background-color: red;
}

.bullet.completed::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: red;
  right: -32px;
  bottom: 20px;
}*/
