<!DOCTYPE html>
<html>
<head>
    <title>DHBW Auslandsinfo</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no" charset="UTF-8">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/jquery-ui-dist/jquery-ui.min.css">
    <link rel="stylesheet" href="../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../node_modules/jquery-form-validator/form-validator/theme-default.min.css">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "Diese Webiste verwendet Cookies",
            "dismiss": "Verstanden!",
            "learnMore": "More info",
            "link": null,
            "theme": "light-top"
        };
    </script>
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/jquery-form-validator/form-validator/jquery.form-validator.min.js"></script>
    <script src="../../node_modules/cookieconsent/build/cookieconsent.min.js"></script>
    <script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="../../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../js/app.js"></script>
</head>

<body>
<!--  PopupFeld für Registrierung --------------------------------------------------------------->
<div class="erfolgreich"></div>
<div class="popUpBack"></div>


<!-- Register-Modal -->
<div class="modal fade" id="register" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" id="regForm">
                <div class="modal-header">
                    <h4 class="modal-title">Registrierung</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body mx-3">
                    <div class="student auslandsmitarbeiter">
                        <div class="md-form mb-4">
                            <label for="inVorname">Vorname</label>
                            <input type="text" class="inBox form-control" id="inVorname" required>
                        </div>
                        <div class="md-form mb-4">
                            <label for="inNachname">Nachname</label>
                            <input type="text" class="inBox form-control" id="inNachname" required>
                        </div>
                        <div class="md-form mb-4">
                            <label for="inMail">Email-Adresse</label>
                            <input type="email" placeholder="Nachname.Vorname@student.dhbw-karlsruhe.de"
                                   class="inBox form-control" id="inMail" required
                                   pattern="^[a-zA-Z0-9]*(\.){0,1}[a-zA-Z0-9]+@(student\.){0,1}dhbw-karlsruhe\.de$"
                                   title="Nachname.Vorname@student.dhbw-karlsruhe.de">
                        </div>
                    </div>

                    <div class="student">
                        <div class="md-form mb-4">
                            <label for="inMatrikel">Matrikelnummer</label>
                            <input type="number" class="inBox form-control" id="inMatrikel" required>
                        </div>
                        <div class="md-form mb-4">
                            <label for="inStudiengang">Studiengang</label>
                            <select class="inBox form-control" id="inStudiengang" required>
                                <option value="Wirtschaftsinformatik">Wirtschaftsinformatik</option>
                                <option value="Wirtschaftsingenieurwesen">Wirtschaftsingenieurwesen</option>
                            </select>
                        </div>
                        <div class="md-form mb-4">
                            <label for="inKurs">Kurs</label>
                            <input type="text" class="inBox form-control" id="inKurs"
                                   required>
                        </div>
                        <div class="md-form mb-4">
                            <label for="inStandort">Standort</label>
                            <select class="inBox form-control" id="inStandort" required>
                                <option value="DHBW_Karlsruhe">DHBW Karlsruhe</option>
                                <option value="DHBW_Stuttgart">DHBW Stuttgart</option>
                                <option value="DHBW_Mannheim">DHBW Mannheim</option>
                                <option value="DHBW_Mosbach">DHBW Mosbach</option>
                                <option value="DHBW_Lörrach">DHBW Lörrach</option>
                                <option value="DHBW_Ravensburg">DHBW Ravensburg</option>
                                <option value="DHBW_Heidenheim">DHBW Heidenheim</option>
                                <option value="DHBW_Villingen-Schwenningen">DHBW Villingen-Schwenningen</option>
                            </select>
                        </div>

                        <div class="md-form mb-4">
                            <label for="inPwSt1">Passwort</label>
                            <input type="password" class="inBox form-control"
                                   id="inPwSt1" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Das Passwort muss mindestens 8 Zeichen lang sein und eine Nummer sowie einen Groß- und Kleinbuchstaben beinhalten">
                        </div>

                        <div class="md-form mb-4">
                            <label for="inPwSt2">Passwort wiederholen</label>
                            <input type="password" class="inBox form-control"
                                   id="inPwSt2" required>
                        </div>
                    </div>
                    <p class="falsch"></p>
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Schließen
                    </button>
                    <button type="submit" class="btn btn-outline-primary btnReg">Registrieren</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Login-Modal -->
<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="loginForm" action="">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="inEmail">Deine Email-Adresse</label>
                        <input type="email" placeholder="E-Mail Adresse" id="inEmail" class="inBox form-control"
                               required autofocus>
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="inPasswort">Dein Passwort</label>
                        <input type="password" placeholder="Passwort" id="inPasswort" class="inBox form-control"
                               required>
                        <p id="falschLogin" style="color: red; margin-bottom: 0px; display: none">
                            Falsche Eingabe. Bitte versuchen sie es erneut.</p>
                        <div style="margin-top: 5px;float: right;">
                            <a href="forgot_pw.html">Passwort vergessen?</a>
                        </div>
                    </div>

                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Schließen
                    </button>
                    <button type="submit" class="btn btn-outline-primary" form="loginForm" id="btnLogin">Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Navigationsleiste-------------------------------------------------------------------- -->
<div class="header">
    <div class="row" style="margin-left: 0; margin-right: 0">
        <header class="header-container">
            <div class="dhbwLogo-container">
                <img id="dhbwLogo" src="../../images/DHBW-Logo.svg" alt="DHBW Logo">
            </div>


            <div class="container-buttons">
                <div class="col-md-3">
                    <div class="logFenster">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#login">
                            Login
                        </button>
                        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#register">
                            Registrieren
                        </button>
                    </div>
                    <div class="logoutFenster">
                        Eingeloggt als <b class="nutzerName"></b>
                        <button type="button" class="btn btn-default navMargin" id="logout" data-target="#logout">
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
