

h1,h2,h3 {
	color: black;
	text-align: center;
}

p {
	font-size: 20px;
}

.warning {
	background-color: #FF0000;
}

.line {
/* 	border-bottom: 1px solid #aaa; */
}

.container {
	width: relativ;
	height: relativ;
	border-style: solid;
	border-radius: 10px;
	border-color: #F0F0F0;
	margin-top: 50px;
	margin-bottom: 50px;
/* 	background-color: #F0F0F0; */
	background-color: white;
}

#boxx {
	border-radius: 5px;
}
/* #checkbox1 { */
/* 	overflow: auto; */
/* } */