body {
	
}

input {
	width: 300px;
}

/* Allgemeine Elemente */
.btn {
	font-size: medium;
	border: 1px solid white;
	font-weight: bold;
	background: #005353;
	color: white;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
}

.btn:hover {
	background: #D60000;
	color: white;
}

.inBox {
	font-weight: bold;
	font-size: medium;
	border-radius: 5px;
	border: 1px solid white;
	padding: 5px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	margin-bottom: 10px;
	color: black;
	
}

.red {
	color: #D60000;
}


.tuerkis {
	background: #AFEEEE;
	width: 100%;
	padding: 10px;
}

.mittig {
	text-align: center;
}

/* Header */
.header {
	color: #D60000;
	padding: 5px;
	width: 100%;
	
	z-index: 101;
	background: white;
	-webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, .5);
	box-shadow: 0 0px 6px rgba(0, 0, 0, .5);
}

#logo {
	width: 100%;
}

.ueberschrift {
	margin-left: 20%;
}

.textResize {
	text-align: center;
}

.inline {
	display: inline;
}

.loginFenster {
	width: 16.67%;
	background: #AFEEEE;
	border: 1px solid white;
	border-radius: 5px;
	border-top: none;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	top: 0%;
	margin-top: -190px;
	color: black;
	padding: 10px;
	position: fixed;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	z-index: 102;
	padding-bottom: 2px;
}

.loginFenster .inBox {
	width: 80%;
}

#loginClose {
	cursor: pointer;
}

#falschLogin {
	color: red; 
	margin-bottom: 0px; 
	display: none;
}

.logoutFenster {
	display: none;
	background: #AFEEEE;
	border: 1px solid white;
	border-radius: 5px;
	border-top: none;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	top: 0%;
	margin-top: -5px;
	color: black;
	padding: 10px;
	position: absolute;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	z-index: 102;
	padding-bottom: 2px;
}

.loginShow {
	color: #005353;
	font-weight: bold;
	margin-top: 25px;
	float: left;
	font-size: medium;
	cursor: pointer;
}

.regShow {
	margin-top: 25px;
	color: #005353;
	float: right;
	font-size: medium;
	cursor: pointer;
}

.logged {
	font-size: medium;
}

#logout {
	cursor: pointer;
	font-weight: bold;
	margin-left: 5px;
}

/* PopUpFeld */
.erfolgreich {
	text-align: center;
	position: fixed;
	width: 40%;
	left: 50%;
	margin-left: -20%;
	font-weight: bold;
	top: 10%;
	background: #AFEEEE;
	border: 1px solid black;
	font-size: medium;
	padding: 5px;
	border-radius: 5px;
	z-index: 103;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	display: none;
}
.popUpBack {
	display: none;
	top: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(59, 63, 67, 0.30);
	z-index: 102;
}

.popUpFeld {
	display: none;
	background: #AFEEEE;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #AFEEEE;
	width: 650px;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -325px;
	position: fixed;
	z-index: 103;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
}

#askAdmin {
	display: none;
}

.student {
	display: none;
}

.auslandsmitarbeiter {
	display: none;
}

.falsch {
	color: red;
	margin-top: 10px;
}

.arr {
	margin-top: 115px;
}

.arr:hover {
	border: 1px solid black;
}

#smallImg {
	width: 30px;
	height: 30px;
	padding-top: 1px;
	border: 1px solid transparent;
	border-radius: 50px;
	position: absolute;
	top: 5px !important;
	right: 5px !important;
	cursor: pointer;
}

#smallImg:hover {
	background: #D60000;
}

.inhalt {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Navigationsleiste */
.navBar {
	margin-bottom: 20px;
}

.navBar label {
	padding: 10px;
}

.navBar a {
	text-decoration: none;
	color: white;
}



/* imgSlider */
.imgSlider {
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
}

.pfeil {
	max-height: 250px;
}

/* Admin Bereich */
#adminBereich {
	display: none;
}

#adminBereich .col-md-12 {
	text-align: center;
}

#adminBereich .tile {
	padding: 5px;
	display: inline-block;
	max-width: 30%;
	max-height: 15%;
	background: #D60000;
	text-align: center;
	margin-left: 15px;
	margin-top: 10px;
	font-weight: bold;
	color: white;
	box-shadow: 0 6px 12px rgba(0, 0 ,0, 0.5);
	cursor: pointer;
}

#adminBereich .tile:hover {
	background: #FB2020;
}

#adminBereich .tileImg {
	max-width: 80%;
}

#adminBereich .smallImg {
	position: absolute;
	width: 30px;
	height: 30px;
}

/* Inhalt Boxen */

.inhaltBox {
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	padding: 10px;
	margin-bottom: 20px;
}

.linkUp {
	float: right;
	margin-bottom: 10px;
	clear: both;
	color: rgb(48, 192, 192) !important;
}

.linkUp:hover {
	text-decoration: underline !important;
}

/* portalInfo */
.portalInfo {
}

.portalInfo p {
	font-size: medium;
}

#imgWorld {
	width: 55%;
	margin-left: 22.5%;
}

.funktionen {
	margin-top: 8%;
}

.funktionen li {
	font-size: medium;
}

/* Auslandsangebote */
.studiengang {
	padding-left: 15px;
	cursor: pointer;
}
.studiengang:hover {
	text-decoration: underline;
}

.content {
	margin-top: 10px;
	padding: 10px;
}

.auslandsAngebote {
	clear: both;
}

.auslandsAngebote a {
	text-decoration: none;
	color: black;
}

.angebot {
	padding: 5px;
	border-bottom: 1px solid black;
	clear: both;
	
}
.uni {
	display: none;
	clear: both;
	background: #eee;
	padding-left: 5px;
	padding-top: 5px;
	min-height: 220px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
}

.maps {
	border: 1px groove black;
}

.navBar {
	
}

.navBar p {
	display: inline;
	box-shadow: inset 0 0 10px grey;
	font-size: large;
	padding: 5px;
	cursor: pointer;
}

.navBar p:hover {
	background: black;
	color: white;
}

.navBar .current {
	color: #D60000;
}

.navBar .current:hover {
	background: #eee;
	color: #D60000;
}

.navBar .weg {
	display: none;
}

.angCont {
	display: none;
}

.linkCont {
	color: #D60000;
	cursor: pointer;
}

.linkCont:hover {
	text-decoration: underline;
}

/* Erfahrungsberichte */
.erfahrungsBerichte p {
	font-size: medium;
}

.middle {
	vertical-align: middle;
}

i {
	font-size: medium;
}

#berichtPfeile {
	text-align: center;
}

.arrow {
	width: 5%;	
	background: #eee;
	cursor: pointer;
}

.arrow:hover {
	background: #dee;
}

.kurzbericht {
	display: none;
	padding: 10px;
}

.zeig {
	display: block;
}

/* InfoMaterial */
.infoMaterial p {
	font-size: medium;
}

#imgBro {
	width: 50%;
}

.informationen {
	margin-top: 10%;
}

.informationen li {
	font-size: medium;
}

/* Nutzerverwaltung */

#nutzerVerwaltung {
	display: none;
}

#nutzerVerwaltung .row {
	padding: 20px;
}

.backAdmin {
	cursor: pointer;
	color: rgb(48, 192, 192);
}

#backAdmin:hover {
	text-decoration: underline;
}

#nutzerVerwaltung .odd {
	background: #ddd;
}

#nutzerVerwaltung td {
	margin-right: 5px;
	padding: 5px;
}

#nutzerVerwaltung .titleRow {
	border-bottom: 2px solid black;
	background: #eee;
	font-weight: bold;
}

.nutzerBearbeiten {
	display: none;
	position: absolute;
	width: 30%;
	left: 50%;
	margin-left: -15%;
	top: 10%;
	background: #AFEEEE;
	border: 1px solid black;
	font-size: medium;
	padding: 5px;
	border-radius: 5px;
	z-index: 103;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
}

/* Footer */
.footer {
	width: 100%;
	padding: 5px;
	background: white;
	bottom: 0;
	margin-top: 15px;
	font-size: x-small !important;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .8);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .8);
}

.footer a {
	font-size: small;
	color: rgb(48, 192, 192);
	
}

/* CMS zur Auslandsverwaltung */
.cms {
	display: none;
}

.cmsBtn {
	background: #D60000;
	float: left;
	margin-bottom: 10px;
}

.cmsBtn:hover {
	background: rgb(48, 192, 192);
}

.btnBild {
	position: absolute;
	right: 1%;
	top: 1%;
	max-width: 130px;
	display: none;
}

.cmsPortal {
	display: none;
}

.cmsAngebote {
	display: none;
}

.cmsBerichte {
	display: none;
}

.cmsInfo {
	display: none;
}

.small {
	width: 30px;
	height: 30px;
	background: #005353;
	margin-top: 3px;
	border: 1px solid #005353;
	border-radius: 5px;
	margin-left: 5px;
	cursor: pointer;
}

.infoLink {
	color: rgb(48, 192, 192);
}

.upload {
	visibility: hidden;
	width: 100%;
	height: 1px;
}

.Admin {
	display: none;
}

/* Hier wird gebastelt */
#laden {
	display: none;
}

.navBarAng {
	background: #eee;
	color: black;
	margin-bottom: 0px;
}

.navelAng {
	display: inline-block;
	padding: 5px;
	font-size: medium;
	cursor: pointer;
	font-weight: bold;
}

.contentAng {
	display: none;
	margin-top: 0px;
	padding: 5px;
	width: 100%;
	color: black;
	min-height: 210px;
}

#angebotEdit {
	display: none;
}

.active {
	background: #AFEEEE !important;
	display: inline-block;
	color: #005353;
}

.zweiD {
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid black;
	border-radius: 5px;
}

.cmsEditAngebote {
	display: none;
}

.longBox {
	width: 500px;
}

.eingeloggt {
	display: none;
}
